<form name="formulario" (ngSubmit)="salvar()">
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
            [(ngModel)]="produto.nome">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Valor:</label>
        <input type="number" class="form-control" name="exampleInputPassword1" [(ngModel)]="produto.valor">
    </div>
    <button name="botao" type="submit" class="btn btn-primary">Salvar</button>
</form>
