<div class="container">
    <h3 class="alert alert-primary">Listagem de pedidos!</h3>
   <button type="button" class="btn btn-primary" (click)="adicionar(modal1)">Adicionar</button> 
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Obs</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedido of lista; let i = index">
                        <th scope="row">{{ pedido.id }}</th>
                        <td> {{ pedido.obs }} </td>
                        <td> <button type="button" class="btn btn-primary" (click)="editar(modal1, pedido, i)">Editar</button> </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>





<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-pedidosdetails [pedido]="objetoSelecionadoParaEdicao" (retorno)="addOuEditarPedido($event)" ></app-pedidosdetails>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>